body{
    margin: 0;
    padding: 0;
    background-color: rgb(36, 36, 36);
    color: white;

}

#horloge{
    display: flex;
    justify-content: center;
    width: 100%;
}

h1{
    margin-top: 70px;
    text-align: center;;
    font-size: 80px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h2{
    margin-top: 20px;
    text-align: center;;
    font-size:40px;
    margin-bottom: 90px;
}

#h{
background-color:  rgb(22, 160, 133) ;
font-size: 70px;
font-weight: 800;
border-top-left-radius: 10%;
border-top-right-radius: 10%;
width:5%;
padding:15px;

}

#m{
    background-color:  rgb(22, 160, 133);
    font-size: 70px;
    font-weight: 800;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    width:5%;
    padding:15px;
}

#s {
    background-color: rgb(22, 160, 133);
    font-size: 70px;
    font-weight: 800;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    width:5%;
    padding:15px;
}

#unite{
    display: flex;
    justify-content: center;
    width: 100%;
    
}

#hunite{
    margin-top: 15px;
    font-size: 20px;
    background-color: rgb(175, 116, 26);
    padding-top:5px;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    margin-right: 7px;
    width: 106px;
    text-align: center;
    color:black;
    padding-top:10px;
    padding-bottom:10px;
}

#sunite{
    margin-top: 15px;
    font-size: 20px;
    background-color: rgb(175, 116, 26);
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    width: 106px;
    margin-left: 18px;
    text-align: center;
    color: black;
    padding-top:10px;
    padding-bottom:10px;
    
}

#munite{
    margin-top: 15px;
    font-size: 20px;
    background-color: rgb(175, 116, 26);
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    margin-left: 16px;
    margin-right: 7px;
    width: 106px;
    text-align: center;
    color: black;
    padding-top:10px;
    padding-bottom:10px;
    
}

#tr1{
    margin-bottom: 0px;
    margin-top:0px;
    padding:0;
    font-size: 70px;
    font-weight: 800;
    margin-top: 10px;
}

#tr2{
    margin-bottom: 0px;
    margin-top:0px;
    padding:0;
    font-size: 70px;
    font-weight: 800;
    margin-top: 10px;

}
